{% block content %}
<h2>个人账户信息</h2>
<ul>
    <li>用户信息: {{ user.username }} </li>
    <li>邮箱: {{ user.email }} </li>

</ul>
<h2>修改我的账户</h2>

<div class="form-wrapper">
   <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
           <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
             <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
           </div>
        {% endfor %}
      <div class="button-wrapper submit">
         <input type="submit" value="更新" />
      </div>
   </form>
</div>

<a href="{% url 'users:logout' %}">退出账户</a> |
      <a href="{% url 'users:pwd_change' user.id %}">修改密码</a>

{% endblock %}