{% block content %}
<h2>个人账户信息</h2>
<ul>
    <li>用户名: {{ user.username }} </li>
    <li>邮箱: {{ user.email }} </li>
</ul>
<h2>My Profile</h2>

<ul>
    <li>First Name: {{ user.first_name }} </li>
    <li>Last Name: {{ user.last_name }} </li>
    <li>Organization: {{ user.profile.org }} </li>
    <li>Telephone: {{ user.profile.telephone }} </li>
</ul>

{% if user.is_authenticated %}
<a href="{% url 'users:profile_update' user.id %}">编辑</a>
| <a href="{% url 'users:pwd_change' user.id %}">修改密码</a>
| <a href="{% url 'users:logout' %}">退出账户</a>
{% endif %}

{% endblock %}